<!DOCTYPE html>
<html>

<head>
    <title>Homepage | RVSystem</title>
</head>

<body>

    <div class="background">
        <div class="background-layer">
            <div class="brandname">Rental Vehicle System</div>
            <p class="brandtext">Vehicle Rental System one of the most sought after Sri Lanka vehivle
                rental services with over 30 years experience in the transportation industry.</p>
                <a href="#car-container"><button class="button brand-button">START BOOKING</button></a>
        </div>
    </div>

    <div class="white-strip">
        <p class="tagline">You’re in control. Stay up to date with the status of your vehicles
            and customer reservations 24*7 with our vehicle rental management software.</p>
    </div>

    <div class="vehicle-container" id="car-container">
        <div class="image car"></div>
        <div>
            <p class="text car-text">Our flexible car rental plans allow customers to hire vehicles on a short-term or
                long-term basis,
                depending on the requirement. Enjoy a wide range of choices with our broad catalogue of vehicles ranging
                from spacious luxury sedans to comfortable fuel efficient compact cars that neatly fit your budget.</p>
        </div>
        <button class="button car-button" routerLink="/car-schedule">BOOK A CAR</button>
    </div>

    <div class="vehicle-container">
        <div class="image motorbike"></div>
        <div>
            <p class="text bike-text">Our flexible motorkbike rental plans allow customers to hire vehicles on a short-term or
                long-term basis, depending on the requirement. Enjoy a wide range of choices
                with our broad catalogue of vehicles that neatly fit your budget.</p>
        </div>
        <button class="button motorbike-button" routerLink="/bike-schedule">BOOK A MOTORBIKE</button>
    </div>

    <div class="white-strip">
        <p class="tagline">Copyright &#9400; 2019 iit.ac.lk</p>
    </div>
</body>

</html>